<div class="container full-height full-width rounded">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 text-center">
			<h1 class="title">Blog</h1>
			<h4 class="text-weight-normal">Showing {{ data.posts.results.length}} post.</h4>
			<div class="blog">
				{{# each data.posts.results}}
				<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="post">
					<h2><a class="all-white" href="{{postUrl slug}}">{{{title}}}</a></h2>
					<p class="lead">{{{categoryList categories prefix="Posted in "}}}
							{{#if author.name.first}}by {{author.name.first}}{{/if}}
					</p>
					<p>{{{content.extended}}}</p>
					<p class="read-more"><a class="all-white" href="{{postUrl slug}}">Read more...</a></p>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>
<div class="pagination-container">{{>pagination}}</div>
