<div class="container full-width rounded full-height">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <p><a class="all-white" href="/committee"><h1>&larr; back to the committee</h1></a></p>
                <hr>
                <div class="col-md-5 column text-center">
                    {{#if data.member.image.exists}}
                    <div class="aspect-ratio profile-picture" style="background-image:url('{{data.member.image}}')"></div>
                    {{else}}
                        {{#if data.member.defaultImage}}
                        <div class="aspect-ratio profile-picture" style="background-image:url('{{data.member.defaultImage}}')"></div>
                        {{else}}
                        <div class="aspect-ratio profile-picture" style="background-image:url('/images/uclu.png')"></div>
                        {{/if}}
                    {{/if}}
                    <h3 class="title name">{{{data.member.name.full}}}</h3>
                    <div class="position">{{{data.member.position}}}</div>
                    <a class="website" target="_blank" href="//{{data.member.website}}">{{{data.member.website}}}</a>
                </div>
                <div class="col-md-6 col-md-offset-1 column">
                    <div class="description">
                        {{{data.member.description}}}
                    </div>
                </div>
        </div>
    </div>
</div>
