<div class="container full-width rounded full-height">
    <div class="row">
        {{#ifeq env 'production'}}
            {{#if data.event.image.exists}}
                <div class="banner limit-height three-quarter" style="background-image: url('{{data.event.image.url}}');"></div>
            {{/if}}
        {{else}}
            {{#if data.event.image.exists}}
                <div class="banner limit-height three-quarter" style="background-image: url('{{data.event.image.url}}');"></div>
            {{else}}
                <div class="banner limit-height three-quarter" style="background-image: url('/images/carbon-fibre.jpg');"></div>
            {{/if}}
        {{/ifeq}}
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <div class="event full-height">
                <h1 class="title">{{data.event.title}}</h1>
                {{#if data.event.link}}
                    <a class="event-link" href="{{data.event.link}}" target="_blank">Go to the Event</a>
                {{/if}}
                <div class="date">{{date data.event.date format='ddd Do MMM  YYYY, hh:mma'}}</div>
                <div class="location">
                    <p>Location: {{{data.event.location}}}</p>
                    <p><a class="all-white small transparent" href="{{map data.event.location}}" target="_blank">See on map</a></p>
                </div>
                <div class="description">{{{data.event.content}}}</div>
            </div>
        </div>
    </div>
</div>