
<div class="container full-width rounded full-height">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<h1 class="title">Events</h1>
            {{#if data.events.results}}
            <div class="events">
                {{#each data.events.results}}
                <a href="{{eventUrl slug}}" class="all-white">
                <div class="event">
                    {{#ifeq ../env 'production'}}
                        {{#if image.exists}}
                            <div class="banner limit-height third" style="background-image: url('{{image.url}}');"></div>
                        {{/if}}
                    {{else}}
                        {{#if image.exists}}
                            <div class="banner limit-height third" style="background-image: url('{{image.url}}');"></div>
                        {{else}}
                            <div class="banner limit-height third" style="background-image: url('/images/carbon-fibre.jpg');"></div>
                        {{/if}}
                    {{/ifeq}}
                    <h1 class="title">{{title}}</h1>
                    {{#if link}}
                    <a class="event-link" href="{{link}}" target="_blank">Go to the Event</a>
                    {{/if}}
                    <a href="{{eventUrl slug}}" class="all-white">
                        <div class="date">{{date date format='ddd Do MMM YYYY, hh:mma'}}</div>
                        <div class="location">
                            <p>Location: {{{location}}}</p>
                            <p><a class="all-white small transparent" href="{{map location}}" target="_blank">See on map</a></p>
                        </div>
                    </a>
                </div>
                </a>
                {{/each}}
            </div>
            {{else}}
            <h3> No upcoming events.</h3>
            {{/if}}
		</div>
	</div>
</div>
{{#if data.events.results}}
<div class="pagination-container">{{>paginationevents}}</div>
{{/if}}
